<div class="channel-container">
  <div class="channel-thumbnail">
    <img src='<%= @channel.artwork_url %>' alt='<%= @channel.name %>' class="img-rounded">
    <h3><%= @channel.name %></h3>

  </div>

</div>
