  <div class="flex-column">


  <p>"Wait, please don't go, Josh! We will miss you" - No one ever, Loser</p>
<div class="sub-container flex-column">
<form class="delete" action="/logout" method="post">
  <input type="hidden" name="_method" value="delete" />
  <p>click to scurry away in defeat</p>
  <button><img src="http://static.tvmaze.com/uploads/images/original_untouched/15/37920.jpg"></button>

</form>
</div>
</div>
