body {
  background-image: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?dl&fit=crop&w=1920&h=1280, https://www.pexels.com/photo/green-pine-trees-covered-with-fogs-under-white-sky-during-daytime-167699/");
}

/*.banner {
  color: blue, !important;
  background: blue;
}*/
