body {
  font-family: 'Lobster', cursive;
  background-image: url("https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?dl&fit=crop&w=1920&h=1280, https://www.pexels.com/photo/green-pine-trees-covered-with-fogs-under-white-sky-during-daytime-167699/");
}


.banner {
  /*font-family: 'Permanent Marker', cursive;*/
  font-size: 30px;
}

.city-name {
  font-size: 20px;
}
