<div class="sub-container">

  <p class="join">Joined on <%= long_form_date(user.created_at) %></p>
  <br>

  <br>
<img src="http://static.tvmaze.com/uploads/images/original_untouched/15/37925.jpg">
  <h1 class="join"><p>Liked by You</p></h2>
