<div class="flex_column select-one">
<% if @by == "Title" %>
<span><p>Title</p><input class="val width-70 height-1"><button class="ok"><img src="http://static.tvmaze.com/uploads/images/original_untouched/68/171026.jpg"></button></span>
<% elsif @by == "Director" %>
<span><p>Director</p><input class="val width-70 height-1"><button class="ok"><img src="http://static.tvmaze.com/uploads/images/original_untouched/68/171026.jpg"></button></span>
<% elsif @by == "Actor" %>
<span><p>Actor</p><input class="val width-70 height-1"><button class="ok"><img src="http://static.tvmaze.com/uploads/images/original_untouched/68/171026.jpg"></button></span>
<% end %>
</div>



