<div class="flex-column">

      <label for="sel1">By:</label>
      <select class="form-control" id="by">
        <option>Select One</option>
        <option>Title</option>
        <option>Director</option>
        <option>Actor</option>
       </select>

</div>

