<form id="find_city" class="container" action="/cities" method="post">
  <label for="name">City Name</label>
  <input type="text" required name="name" placeholder="city_name">
  <input type="submit" value="Search">
</form>
<%= erb(:'_errors') %>
