<div id='results-container'>

</div>

<form action="/searches" method="post" id='search-form'>
  <label>Search</label>
  <input type="text" name="search">
  <button type='submit'>Search</button>
</form>
