<h1>Get the lyrics for a Tab!</h1>
<form class="tab-form" method="post" action="/tabs/new">
  <label>Artist</label>
  <input type="text" name="artist">
  <label>Song</label>
  <input type="text" name="song">
  <button type="submit">Get Lyrics</button>
</form>
