<form class="api-form flex-column" method="post" action="/api_requests/new">
  <h3>Artist</h3>
  <input type="text" name="artist">
  <h3>Song</h3>
  <input type="text" name="song">
  <button type="submit">Get Lyrics</button>
</form>

<h1>Tabs</h1>
